<nav class="nav-menu">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/about">About Me</NavLink></li>
        <li><NavLink href="/portfolio">Portfolio</NavLink></li>
        <li><NavLink href="/contact">Contact</NavLink></li>
    </ul>
</nav>
