@page "/about"

<PageTitle>About</PageTitle>

<h1>About Me</h1>
<p>
    Hi, I’m Isaac Tharcisse Yaato — a cybersecurity student and aspiring developer, 
    passionate about building secure and modern applications with strong UI/UX principles.
</p>
