@page "/contact"

<PageTitle>Contact</PageTitle>

<h1>Contact</h1>
<p>Email: <a href="mailto:isaacyaato97@gmail.com">isaacyaato97@gmail.com</a></p>
<p>LinkedIn: <a href="https://linkedin.com/in/isaacyaato97" target="_blank">linkedin.com/in/isaacyaato97</a></p>
<p>GitHub: <a href="https://github.com/iyyaato" target="_blank">github.com/iyyaato</a></p>
