@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<h1>Portfolio</h1>
<div class="projects">
    <button class="btn">Project 1</button>
    <button class="btn">Project 2</button>
    <button class="btn">Project 3</button>
    <button class="btn">Project 4</button>
</div>
